#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  margin: 1px;
}

.container {
  display: flex;
  align-items: center; /* Align vertically */
  gap: 10px; /* Space between items */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* .card {
  padding: 2em;
} */

.read-the-docs {
  color: #888;
}

.card-container {
  display: flex;
  justify-content: space-around; /* Space evenly between cards */
  align-items: center; /* Align items vertically */
  padding: 16px;
  gap: 16px; /* Space between cards */
}

.dropdown-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding: 12px;
  max-width: 500px; /* Restrict container width */
  margin: 0 auto; /* Center the container in the viewport */
  gap: 12px; /* Smaller gap between dropdowns */
}

.footer-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-left: 16px;
  margin-right: 16px;
  gap: 12px; /* Smaller gap between dropdowns */
  /* background-color: #87ceeb; */
  border-radius: 8px;
}

.station-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding: 16px;
  max-width: 500px; /* Restrict container width */
  margin: 0 auto; /* Center the container in the viewport */
  gap: 12px; /* Smaller gap between dropdowns */
}

.input-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto; /* Adjust column widths as needed */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  max-width: 800px; /* Restrict container width */
  margin: 0 auto; /* Center the container in the viewport */
  gap: 2px 20px; /* Smaller gap between dropdowns */
}

.dropdown {
  display: flex;
  flex-direction: column; /* Ensure label is above the dropdown */
}

.header {
  font-weight: bold; /* Optional: Make headers stand out */
  text-align: center; /* Align headers in the center of each column */
}

.row {
  display: contents; /* Allows rows to share the same grid structure */
}
